#begin {
  /*background-color: #efeadc;*/
  padding: 10px;
  padding-bottom: 60px;
  color: #efeadc;
  opacity: .9;
  font-size: 200%;
  margin-top: 100px;

 
}

body{
	text-align: center;
  background-image: url(../images/faceevolution.jpg);
  background-size: 100%;
  font-family: 'Architects Daughter', cursive;
  background-repeat: no-repeat;
  background-color: black;
}


.answersclick {
  background-color: #efeadc;
  color: #3d300e;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 50%;
}

#quizname {

  margin-top: 50px;
  color: #efeadc;
  font-size: 400%;
  margin-bottom: 20px;
}

#main {
  color: #efeadc;
  font-size: 200%;
  background-color: #897c59;
  opacity: .8;
}

.image {
  width: 80%;
}